<h2>Listing accepted bookings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Taxi identifier</th>
      <th>Number of accepted bookings</th>
    </tr>
  </thead>
  <tbody>
<%= for t <- @tuples do %>
    <tr>
      <td><%= elem(t, 0) %></td>
      <td><%= elem(t, 1) %></td>
    </tr>
<% end %>
  </tbody>
</table>
